/*header
-----------------------------------------------------------*/
.l-header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 10rem;
  max-height: 100px;
  padding: 0 10vw;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  &__logo {
    font-size: 3.6rem;
    font-weight: bold;
  }

  &__nav {
    &__list {
      display: flex;
      justify-content: end;
      gap: 3rem;

      &__item {
        font-size: 1.8rem;
      }
    }
  }
}
